/* fonts used on my page */

@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body section */

body {
    background: #0A192F;
}

/* wrapper div contains the whole web content */

.container {
    margin-top: 3%;
}

/* nav element contains the navigation part of the web page */

header nav {
    max-width: 1400px;
    max-height: 100px;
    background: #0A192F;
    padding: 0 50px;
    cursor: pointer;
}

/* div with the id #logo contains the icon in the header */

header #logo {
    position: absolute;
    left: 5%;
    background-color: #CCD6F6;
    width: 42px;
    height: 42px;
    float: left;
    border: 1px solid #64FFDA;
    border-radius: 10px;
}

/* styling the logo in the nav bar */

header #logo a .fa-bold {
    /* background: #CCD6F6;
    position: absolute;
    left: 35%;
    margin-top: -7px; */
}

#logo a {
    visibility: hidden;
}

/* positioning of the nav bar  */

header nav .searchbar {
    margin-left: 45%;
}

/* styling of unordered list */

nav .searchbar ul {
    display: flex;
    position: relative;
    color: #CCD6F6;
    position: relative;
    list-style: none;
}

/* styling of the links nested in the ul */

nav .searchbar ul a {
    color: #CCD6F6;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 10px 10px 50px;
    font-family: 'Recursive',
        sans-serif;
    font-size: 13px;

}

/* hovering effect on the navigation */

nav .searchbar ul a:hover {
    color: #64FFDA;
}

/* styling of the number on sub headings */

#number {
    color: #64FFDA;
}

/* styling the resume part of the nav */

#cv {
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Recursive',
        sans-serif;
    letter-spacing: 1.2px;
    margin-right: 60px;
    padding: 12px 16px;
    color: #64FFDA;
    border: 0.5px solid #64FFDA;
    border-radius: 8px;
    text-decoration: none;
    position: absolute;
    top: 5%;
    left: 88%;
}

/* hovering effect on the resume box */

#cv:hover {
    background: #64ffda1a;
}

/* styling of section1 */

.section1 {
    margin-left: 14%;
    margin-top: 4%;
}

/* styling the frst heading (h1)*/

.section1 .firsthead {
    line-height: 1.3px;
    color: #64FFDA;
    font-size: 12px;
    font-family: 'Fira Code',
        monospace;
    letter-spacing: 2.5px;
    width: 200px;
    height: 47px;
    margin: 0 0 30px 4px;
}

/* styling of second heading (h2) */

.section1 .secondhead {
    position: absolute;
    top: 23%;
    font-size: 30px;
    color: #CCD6F6;
    font-family: 'Fira Code',
        monospace;
}

/* styling of third heading h3 */

.section1 .thirdhead {
    display: block;
    position: absolute;
    top: 33%;
    margin: 10px 0px 0px;
    color: #8892B0;
    font-size: 50px;
    font-family: 'Titillium Web',
        sans-serif;
    max-width: 815px;
    max-height: 72px;
}

/* styling of the first paragraph */

.section1 .firstParagraph {
    position: absolute;
    top: 49%;
    color: #8892B0;
    margin: 20px 0px 0px;
    line-height: 1.5;
    letter-spacing: 2.5px;
    font-size: 20px;
    font-family: 'Titillium Web',
        sans-serif;
    max-width: 800px;
    max-height: 105;
}

/*  styling the link text OutBox Edu */
#outbox {
    color: #64FFDA;
    text-decoration: none;
    font-size: 16px;
}

/* styling of the div emailLink */

.emailLink {
    cursor: pointer;
    font-size: 14px;
    font-family: 'Fira Code',
        monospace;
    padding: 20px 28px;
    margin: 50px 0px 0px;
    border: 0.5px solid #64FFDA;
    border-radius: 8px;
    position: absolute;
    top: 75%;
    left: 14%;
}

/* adding color to emailLink */

.emailLink a {
    text-decoration: none;
    color: #64FFDA;
}

/* adding hovering effect to emailLink */

.emailLink:hover {
    background: #64ffda1a;
}

/* styling the about me div */

.aboutMe {
    display: block;
    position: relative;
    margin-top: 650px;
    margin-left: 14%;
    letter-spacing: 2px;
    line-height: 1.5;
    max-width: 800px;
}

/* styling the text "About Me" */

#About {
    position: absolute;
    top: -30%;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Titillium Web',
        sans-serif;
    font-size: 32px;
    color: #CCD6F6;
}

#uno {
    color: #64FFDA;
    font-size: 25px;
}

/* styling para1 in the aboutMe div */

.aboutMe .para1 {
    display: block;
    color: #8892B0;
    margin: 0px 0px 15px;
    font-family: 'Titillium Web',
        sans-serif;
    line-height: 1.3;
    font-size: 20px;
}

/* styling para3 */

.para3 {
    margin-top: 15px;
}

/* styling the quote */

.para3 .quote {
    display: block;
    color: #8892B0;
    margin: 10px 0px 15px;
    font-family: 'Titillium Web',
        sans-serif;
    line-height: 1.3;
    font-size: 20px;
    font-weight: 550;
    text-transform: capitalize;
}

/* styling the span in para3 */

.para3 span {
    color: #9df3df;
    font-family: 'Titillium Web',
        sans-serif;
    line-height: 1.3;
    font-size: 20px;
    font-weight: 550;
    margin-top: 30px;
}

/* styling the ul in the about part */

.aboutMe .languages li {
    list-style: none;
    color: #8892B0;
    font-size: 13px;
    padding: 8px;
}

/* adding the ul with a pseudo element*/

.aboutMe .languages li::before {
    content: "▹";
    /* "▹"	white right-pointing small triangle*/
}

/* styling of my image */

.myImage {
    position: absolute;
    top: 1%;
    left: 100%;
}

/* addding curves on the image */

.myImage .pic {
    border-radius: 50%;
}

/* styling of section3 */

.section3 {
    position: relative;
    margin-left: 14%;
    margin-top: 10%;
}

/* styling heading (h2) in section3 */

.section3 h2 {
    position: absolute;
    /* top: -30%; */
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Titillium Web',
        sans-serif;
    font-size: 32px;
    color: #CCD6F6;
}

/* styling div para4 */

.section3 p {
    color: #8892B0;
    font-family: 'Titillium Web',
        sans-serif;
    font-size: 20px;
    position: absolute;
    bottom: -100px;
}

/* styling section4*/

.section4 {
    position: relative;
    margin-left: 14%;
    margin-top: 25%;
}

.section4 h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Titillium Web',
    sans-serif;
    font-size: 32px;
    color: #CCD6F6;
}

/* styling social media icons */

#social-media-links {
    padding-left: 20px;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}